__pycache__/
*.pyc
*.egg-info/
.ipynb_checkpoints/
build/
dist/
.DS_Store
data/factors_cache.csv
examples/data/
docs/_build/
docs/examples/
data/daily_cache.csv
data/etf_cache*.csv
examples/*.json
data/fred_cache*.csv
